@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .infoText {
    @apply p-4 bg-white rounded-lg shadow-xl text-center cursor-pointer hover:shadow-2xl
  }
  .chatRow{
    @apply p-4 bg-white text-gray-900 space-x-3 items-center flex rounded-lg shadow-md text-center cursor-pointer hover:shadow-2xl
  }
  
}

*::-webkit-scrollbar {
    width: 2px;
    max-height: 50px;
    background: rgba(100, 100, 100, 0.4);
}

*::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(250, 250, 250, 0.4);
}

/* hide scroll bar */
.hide-scrollbar::-webkit-scrollbar {
    width: 2px;
    max-height: 50px;
    background: rgba(100, 100, 100, 0.0);
}

.hide-scrollbar::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.0);
}

.hide-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(250, 250, 250, 0.0);
}